/* Headers */
h1, h2, h3 {
    font-family: 'Precious', cursive;
}

h1 {
    font-size: 45pt;
}
  
h2 {
    font-size: 30pt;
}

h3 {
    font-size: 23pt;
}

/* Body */
body {
    padding-bottom: 50px;
}

/* Navbar color on scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* Band background image */
.bgimage {
    height: 100vh;
    background: url('images/bandImage.webp') center center/cover fixed;
    position: relative;
}

/* Text above band image */
.band-text {
    font-family: 'Precious', cursive;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* About section image */
.imageAboutPage {
    width: 100%;
    margin-bottom: 10px;
}

/* Services section */
.servicesText.card {
    height: 240px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}

/* Social media icons */
.social-icons {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}

.social-icons a {
    margin-right: 10px;
}

.fab {
    color: white;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}

/* Footer */
#footer {
    height: 40px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footerScroll.footerDark .footer-content {
    color: black; /* Text color when scrolling */
}

.footerScroll.footerDark .fab {
    color: black; /* Icon color when scrolling */
}

.footerScroll p {
    margin: 0;
    line-height: 10px;
}

/* Background color on scrolling */
.footerScroll.footerDark {
    background-color: #d5d5d6;
    height: 10px;
    color: black;
}